body{
    background-image:url('bk.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
.navbar {
    border-radius: 0;
}
#lab{
    color: #000;
   font-size: 40px;
}

a.navbar-brand b {
    font-family:'algeria, san-serif' ;
    font-size: 80px;
    text-align: center;
    color:#000;

}

p {
    text-align: center;
    font-size: 50px;
}

form p {
    text-align: center;
}

#box{
    color: blue;
}
#login{
    text-align: center;
    font-size: 40px;
    font-family: serif;
}
