{% extends 'layout.html' %}

{% block anchor %}
            
        {% if current_user.is_authenticated %}
            <a class="btn-large blue " href="{{ url_for('logout') }}">
                Logout <strong>{{ username }}</strong>
            </a>
        {% endif %}

{% endblock %}

{% block body %}

    <br><br><br><br>
    <p>
        Karibu kwa <strong>BookLib</strong> look no further....come checkout our book store!!
    </p>
    <br><br><br><br>
    <a class="btn-large right blue  " href="{{ url_for('login') }}">
        Login
     </a>
     <a class="btn-large right blue " href="{{ url_for('register') }}">
         Register
      </a>

{% endblock %}